:root {
    --main: #0a0d0bcb;
    --sec: #242121;
    --text-color: rgb(152, 216, 194);
}


* {
    box-sizing: border-box;
    /* border: 1px solid lightblue; */
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s, background 0.3s;
    border-radius: 5px;
}

a:hover {
    color: white;
    background-color: #2b72a1;
    transition: color 0.3s, background 0.3s;
}

img {
    max-width: 100%;
}

body {
    background-color: var(--main);
    color: var(--text-color);
    font-size: 18px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: inherit;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
        transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}


button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

footer {
    width: 100%;
    padding: 1rem;
    background-color: var(--sec);
    text-align: center;
    color: rgb(181, 157, 19);
}