* {
    box-sizing: border-box;
    border: 1px solid lightblue;
}

body {
    background-color: rgba(10, 13, 11, 0.797);
    color: rgb(152, 216, 194);
    font-size: 18px;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    align-items: center;
    background-color: #FFE7E7;
    color: #1044FF;
}

.hero {
    background-color: #FFE7E7;
    color: #1044FF;
}